

<!DOCTYPE html>
<html>
  <head>
    <title>UF Parking Picker App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-aria.min.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body ng-app="CombineModule" ng-controller="ParkingLotsController" layout="column">
      <md-toolbar>
        <h1 class="text-center">UF Parking Picker</h1>
          <div class="text-right">
            <md-button ng-click="resetLogin(); toggleRight(); setAccount()" class="md-raised">
              Create Account
            </md-button>
            <md-button ng-click="toggleRight(); setLogin(); resetAccount()" class="md-raised">
              Login
            </md-button>
          </div>
      </md-toolbar>
      <div id='map'  style='width: 100%; height: 100%;'>
        <nav id='filter-group' class='filter-group'></nav>
      </div>

      <section layout="row" flex id="content">
         <!-- SIDEBAR -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
          <md-content class="sidenav" layout-margin>
            <div class="row" ng-controller="ListingsController">
              <a id="listing-title" href=""></a>
              <hr>
                <div id='listings' class="listings">
                  <ul>
                    <li>
                      
                      <span><strong>Fullness: </strong></span>
                      <span id="sidebarPercentFull"> {{ sidebarPercentFull}} %</span>
                      <md-progress-linear md-mode="determinate" value="{{sidebarPercentFull}}"></md-progress-linear>
                    </li>
                    <li>
                      <span><strong>Last Update: </strong></span>
                      <span id="lastUpdated">{{lastUpdated  | date:'M/d/yyyy h:mm:ssa'}}</span>
                    </li>
                  </ul>
                  <ul id="listing-details">
                  </ul>
                </div>
            </div>
            <hr>
            <div id='listings2' class='listings2' style="display:none"></div>
            <!-- SLIDER -->
            <div class="slider text-center">
              <h4>Update Fullness Percentage <i class="fas fa-info-circle" ng-click="showMoreInfo($event)" ></i></h4>
              <md-slider-container>
                <md-slider ng-model="fullnessSlider" min="0" max="100" aria-label="red" id="red-slider" class="md-warn">
                </md-slider>
                <md-input-container>
                  <input type="number" ng-model="fullnessSlider" aria-label="red-slider">
                </md-input-container>
              </md-slider-container>
              <md-button class="pull-right" ng-click="updateSlider()" type="submit" class="md-accent">Submit</md-button>
            </div>
            <div>
              <a class="twitter-timeline" data-width="300" data-height="300" href="https://twitter.com/unspecifive?ref_src=twsrc%5Etfw">Tweets by unspecifive</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
              <a href="https://twitter.com/intent/tweet?button_hashtag=ufparking&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="@unspecifive" data-related="unspecifive" data-lang="en" data-dnt="true" data-show-count="false">Tweet #ufparking</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="close-btn">
              <md-button ng-click="toggleLeft()" class="md-accent">Close this window</md-button>
            </div>
          </md-content>
        </md-sidenav>

        <!--Login -->
        <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
          <div ng-show="isLogin" id="account">
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Login</h1>
            </md-toolbar>
            <md-content layout-margin>
              <form id="login">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" ng-model="loginEmail">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" ng-model="loginPwd">
                </div>
                <button type="submit" ng-click="handleLogin(); toggleRight()" class="btn btn-default">Submit</button>
              </form>
              <md-button ng-click="toggleRight()" class="md-accent">
                Close this window
              </md-button>
            </md-content>
          </div>
          <div ng-show="isAccount" id="account">
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Create Account</h1>
            </md-toolbar>
            <md-content layout-margin>
              <form name="register">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" ng-model="signupName">
                </div>
                <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" class="form-control" ng-model="signupEmail">
                </div>
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" ng-model="signupUsername">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="pwd" ng-model="signupPwd">
                </div>
                <div class="form-group">
                  <label>Parking Decal</label>
                  <md-select ng-model="signupDecal" placeholder="Decal">
                    <md-option value="green">Green</md-option>
                    <md-option value="parkAndRide">Park and Ride</md-option>
                    <md-option value="red1">Red 1</md-option>
                    <md-option value="red3">Red 3</md-option>
                    <md-option value="brown2">Brown 2</md-option>
                    <md-option value="brown3">Brown 3</md-option>
                    <md-option value="disabledStudent">Disabled Student</md-option>
                    <md-option value="motorcycle/scooter">Motorcycle/Scooter</md-option>
                    <md-option value="gold">Gold (Official Gated)</md-option>
                    <md-option value="silver">Silver (Gated)</md-option>
                    <md-option value="officialBusiness">Official Business</md-option>
                    <md-option value="blue">Blue</md-option>
                    <md-option value="medicalResident">Medical Resident</md-option>
                    <md-option value="shandsSouth1">Shands South 1</md-option>
                    <md-option value="hvnShandsSouth2">HVN Shands South 2</md-option>
                    <md-option value="staffCommuter">Staff Commuter</md-option>
                    <md-option value="disabledEmployee">Disabled Employee</md-option>
                    <md-option value="carpool">Carpool</md-option>
                    <md-option value="commercial">Commercial</md-option>
                  </md-select>
                </div>
                <button type="submit" ng-click="handleSignup(); toggleRight()" class="btn btn-default">Submit</button>
              </form>
              <md-button ng-click="toggleRight()" class="md-accent">
                Close this window
              </md-button>
            </md-content>
          </div>
        </md-sidenav>


        <!-- MAP -->
        <md-content flex id="map"></md-content>

      </section>

      <script src="js/factories/listingFactory.js"></script>
      <script src="js/controllers/listingController.js"></script>
  </body>
</html>
