* {

  box-sizing: border-box;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
body {
  margin:0; padding:0;
}

ul {
  margin: 0; /* To remove default bottom margin */ 
  padding: 0; /* To remove default left padding */
}

#map {
  left:7.5px;
}

#content {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.close-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.decal-selection {
  z-index: 1;
  position: absolute;
  right: 45px;
  top: 115px;
}

.dropbtn {
  background-color: #fefefe;
  color: black;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 2px 2px 6px -4px;
  cursor: pointer;
  min-width: 120px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  min-width: 120px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  border-style: none;
  background-color: white;
  opacity: 0.8;
  color: black;
  border-radius: 15px;
  padding: 10px 10px;
  margin-top: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  min-width: 120px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  color: white;
  background-color: black;
  opacity: 0.8;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fdfdfd;
}

.md-sidenav-left {
  height: calc(100% - 101.1px);
  position: absolute;
  right: auto !important;
  top: auto !important;
  bottom:0px;
  left: 0px;
  
}

.filter-group {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  color: #fff;
}
 .filter-group input[type=checkbox]:first-child + label {
  border-radius: 3px 3px 0 0;
}
 .filter-group label:last-child {
  border-radius: 0 0 3px 3px;
  border: none;
}
 .filter-group input[type=checkbox] {
  display: none;
}
 .filter-group input[type=checkbox] + label {
  background-color: orange;
  display: block;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
 .filter-group input[type=checkbox] + label {
  background-color: orange;
  text-transform: capitalize;
}
 .filter-group input[type=checkbox] + label:hover,
.filter-group input[type=checkbox]:checked + label {
  background-color:  orange;
}
 .filter-group input[type=checkbox]:checked + label:before {
   content: '\272A';
  margin-right: 5px;
}

.sidenav {
  height: 100%;
}

.slider {
  margin-top: 20px;
}

li {
  margin-bottom: 15px;
}